//- link
mixin link(href,text)
	a(href= href )= text
		block
//- link item
mixin nav-link(href,text)
	li.nav-item
		a.nav-link(href= href )= text

//- link item
mixin nav-link(href,text)
	li.nav-item
		a.nav-link(href= href )= text

//- socials
mixin socials(name, url)
	ul.socials
		- var socials = [{name: "fb", url: "#"},{name: "tw", url: "#"},{name: "in", url: "#"},{name:"pin",  url: "#"}];
			each social in socials
				li.socials-item
					a.socials-link(href=`${social.url}`, target="_blank")
						svg(class=`icon icon-${social.name}`)
							use(xlink:href=`assets/img/sprite/sprite.min.svg#${social.name}`)
//- socials
mixin card-socials(name, url)
	ul.socials.card-socials
		- var socials = [{name: "fb", url: "#"},{name:"pin",  url: "#"},{name: "tw", url: "#"},{name: "dots", url: "#"}];
			each social in socials
				li.socials-item
					a.socials-link(href=`${social.url}`, target="_blank")
						svg(class=`icon icon-${social.name}`)
							use(xlink:href=`assets/img/sprite/sprite.min.svg#${social.name}`)

//- scroll top button
mixin scrollTop
	button#scrollTop.rounded-circle( title='Go to top')
		+icon('down-arrow')

//- Filter show button
mixin filterShow
	button#filterShow.filterShow(
		type='button',
		data-toggle='collapse',
		data-target='#filterSidebar',
		aria-expanded='false',
		aria-controls='filterSidebar'
	)
		+icon('filter')
		+icon('cancel')
		span Filters

//- scroll top button
mixin filterHide
	button#filterHide.rounded-circle
		+icon('cancel')

//- sprite
include svg-sprite
//- breadcrumbs
include breadcrumbs

